<style>

head{


}

.header{

}

h1{

border-bottom:  6px;
border-bottom-color: black;
border-bottom-style: solid;
background-color: white;
	height: 150px;
	width: 60%;
text-align: center;
padding: 1%;
padding-top: 80px;
margin-left: 20%;
}

body{
background: url('images//background.png') no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
p{
	

}
div{

}
#maintext{
	border: 4px;
background-color: white;
	height: 2000px;
	width: 60%;
text-align: center;
padding: 1%;
padding-top: 80px;
margin-left: 20%;
}

</style>
